#!/bin/bash

# Determine toolpath if not set already
relativepath="./" # Define relative path to go from this script to the root level of the tool
if [[ ! -v toolpath ]]; then scriptpath=$(cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd ); toolpath=$(realpath --canonicalize-missing $scriptpath/$relativepath); fi

# Load files in config-pre/ folder
#source ${toolpath}/config-pre/*.sh

# Pool Name
poolname="zdata"

# Partition Number
lukspartnumber=1

# All Disks to be used
disks=()

# Storage Disks
# Format: "ata-<DISK_BRAND>_<DISK_MODEL>_<DISK_SERIAL>|<DISK_PARTITION>|<DEVICE_MAPPER_NAME>"
# Defaults:
# - DISK_PARTITION = 1
# - DEVICE_MAPPER_NAME = <none> (do NOT add leading or trailing Underscores nor "_crypt" suffix !)
#
disks_storage=()
disks_storage+=("ata-WDC_WDXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX1|1|data")
disks_storage+=("ata-WDC_WDXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX2|1|data")
disks_storage+=("ata-WDC_WDXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX3|1|data")
disks_storage+=("ata-WDC_WDXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX4|1|data")
disks_storage+=("ata-WDC_WDXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX5|1|data")
disks_storage+=("ata-WDC_WDXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX6|1|data")

# Special VDEV
disks_specials=()
disks_specials+=("ata-CT500MX500SSD1_aaaaaaaaaaaa|1|data")
disks_specials+=("ata-CT500MX500SSD1_bbbbbbbbbbbb|1|data")

# SLOG
#disks_slogs=()
#disks_slogs+=("nvme-XXXXX_YYYYYYYY_ZZZZZZZZZZZZZZ|1|slog")
#disks_slogs+=("")

# L2ARC Drive(s)
disks_l2arcs=()
disks_l2arc+=("nvme-XXXXX_YYYYYYYY_ZZZZZZZZZZZZZZ|1|l2arc")

# Add to Disks
for d in "${disks_storage[@]}"; do disks+=($d); done
for d in "${disks_specials[@]}"; do disks+=($d); done
for d in "${disks_slogs[@]}"; do disks+=($d); done
for d in "${disks_l2arcs[@]}"; do disks+=($d); done

# Pool settings
# Ashift=13 can lead to some overhead
ashift=12

# Partition sizes
disk_size=3815448                     			# MiB 4TB
partition_start=16					# MiB (2 MiB are usually required for LUKS header, leave some room for safety margin)
partition_margin=512					# MiB (leave some Margin for possible bad blocks / slighly different sizes between the disks)

# Backup folders
backupfolder="/backup"

# In order to automatically setup NFS mountpoints
mountpoints=()
mountpoints+=("folder1")
mountpoints+=("folder2")
mountpoints+=("folder3")

# CLEVIS/TANG Automated LUKS unlocking
keyservers=("192.168.1.15" "192.168.1.16" "192.168.1.17" "192.168.1.18")
