[Unit]
Description=Unlock and Import ZFS Pool Automatically
Wants=network-online.target
After=network.target network-online.target
StartLimitIntervalSec=0
StartLimitBurst=1

[Service]
#Type=oneshot
RestartSec=30
TimeoutStartSec=60
Restart=on-failure
User=root
ExecStart={{toolpath}}/backup_all_pools.sh
ExecStop=/bin/bash -c "echo \"Stopping Service. Pool will NOT be Exported.\""
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
