[Unit]
Description=Unlock and Import All ZFS Pools Automatically
Wants=network-online.target
After=network.target network-online.target
StartLimitIntervalSec=0
StartLimitBurst=1

[Service]
#Type=oneshot
RestartSec=30
TimeoutStartSec=60
Restart=on-failure
User=root
ExecStart={{toolpath}}/import_all_pools.sh
ExecStop=/bin/bash -c "echo \"Stopping Service. No Pools will NOT be Exported.\""
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
